@yellow: #fffa19;
@red: #f53c2f;
@green: #4dfa56;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom; 
}
.padding(@right, @top){
  padding-right: @right;
  padding-top: @top;
}


.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 20px);

   }

footer {
  padding: 10px 10px 0 10px;
  background-color: @red;
  .margenes(10px, 0px);
  }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.descripcion {
  flex: 1 150px;
  margin-top: 10px; }

.footer-adress-icon {
  .padding(10px, 0px);
  }

.tab-content {
  padding-right: 0px;
  padding-top: 10px; }
