$yellow: #fffa19;
$red: #f53c2f;
$green: #4dfa56;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom; 
}
@mixin padding($right, $top){
	padding-right: $right;
	padding-top: $top;
}


.jumbotron{
	background-color: $yellow;
	color: black; 	
	@include margenes(50px, 15px);
}
footer {
	padding: 10px 10px 0 10px;
	background-color: $green;
	margin-bottom: 0px;
	margin-top: 10px;
	@include margenes(50px, 0px);
}
.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.descripcion{
	flex: 1 150px;
	margin-top: 10px;
}
.footer-adress-icon{
	@include padding(10px, 0px);
}
.tab-content{
	@include padding(0px, 10px);
}