.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f53c2f;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.descripcion {
  flex: 1 150px;
  margin-top: 10px;
}
.footer-adress-icon {
  padding-right: 10px;
  padding-top: 0px;
}
.tab-content {
  padding-right: 0px;
  padding-top: 10px;
}
